{
  "presets": [],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "h",
        "pragmaFrag": "Fragment"
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": ["preact-require", "@babel/plugin-transform-modules-commonjs"]
    }
  }
}
